<!doctype html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|PT+Sans" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript" src="../javascript/about.js"></script>
</head>
<body>
	<div class="header">
	<div class="headerTabs">
	    <a href="../index.html">Home</a>
	    <a href="music.html">Music</a>
	    <a href="events.html">Events</a>
	    <a class="active" href="about.html">About</a>
	    <a href="contact.html">Contact</a>
 	</div>
	</div>
	<br>
	<div class="subheader">
	<h1>ABOUT HOLYMAN</h1>
	</div>
	<img src="../images/holyman2.png" style="float:left;" alt="Holyman making a funny face">

	<p id="text">Cory Hoylman (yes, hoYLman, technically, but we can just call him Holyman) is a Florida raised man, who luckily steered clear of making himself into a 'Florida Man' headline. Cory fell upon house music after countless times of DJing friends' parties. He decided to go onto to study music production, allowing him gain the level of expertise he has today. Cory largely takes influence from original disco and funk music and translates that into a modern day house. He plans on continuing his Holyman brand as he travels to play shows around the U.S.. Check out the events page to see if he'll be playing in a city near you! </p>

	<div>
		<img id="alienPic" src="../images/alien.png" alt="alien">
	</div>

	<div class="social">
		<a href="https://www.facebook.com/holymanmusic/" target="_blank"><img id="facebook" src="../images/facebook.png" alt="Facebook"></a>
		<a href="https://www.instagram.com/holymanmusic/" target="_blank"><img id="instagram" src="../images/instagram.png" alt="Instagram"></a>
		<a href="https://soundcloud.com/holymanmusic" target="_blank"><img id="soundcloud" src="../images/soundcloud.png" alt="Soundcloud"></a>
		<a href="https://open.spotify.com/artist/0vjiinoN2gpEeaPVOU4BbD?si=B1IkKQxWQ8uPTNRqr7hsWA" target="_blank"><img id="spotify" src="../images/spotify.png" alt="Spotify"></a>
	</div>


</body>
</html>
