<!doctype html>
<html>
<head>
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/contact.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|PT+Sans" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript" src="../javascript/contact.js"></script>
</head>
<body>
	<div class="header">
	<div class="headerTabs">
	    <a class="animate" href="../index.html">Home</a>
	    <a class="animate" href="music.html">Music</a>
	    <a class="animate" href="events.html">Events</a>
	    <a class="animate" href="about.html">About</a>
	    <a class="active animate" href="contact.html">Contact</a>
 	</div>


	</div>
		<hr>
	</div>

	<div class="social">
		<a href="https://www.facebook.com/holymanmusic/" target="_blank"><img id="facebook" src="../images/facebook.png" alt="Facebook"></a>
		<a href="https://www.instagram.com/holymanmusic/" target="_blank"><img id="instagram" src="../images/instagram.png" alt="Instagram"></a>
		<a href="https://soundcloud.com/holymanmusic" target="_blank"><img id="soundcloud" src="../images/soundcloud.png" alt="Soundcloud"></a>
		<a href="https://open.spotify.com/artist/0vjiinoN2gpEeaPVOU4BbD?si=B1IkKQxWQ8uPTNRqr7hsWA" target="_blank"><img id="spotify" src="../images/spotify.png" alt="Spotify"></a>
	</div>

	<br>

	<h1>CONTACT HOLYMAN</h1>
	
	<div class="container">
 	 <form action="https://formspree.io/holymanmusic@gmail.com" method="POST">
		<label for="name">Name</label>
   	 	<input type="text" id="name" name="name" placeholder="Your name.">

    	<label for="email">Email</label>
    	<input type="text" id="email" name="email" placeholder="Your email.">

	    <label for="subject">Message</label>
	    <textarea id="subject" name="subject" placeholder="What's on your mind?" style="height:200px"></textarea>

	    <input type="submit" value="Submit">

  </form>
</div>
</body>
</html>