<!doctype html>
<html>
<head>
	<title>EVENTS</title>
	<link href="" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/events.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/events.js"></script>
</head>
<body>
	<div class="header">
	<div class="banner">
	    <a class="headerTabs" href="../index.html">Home</a>
	    <a class="headerTabs" href="music.html">Music</a>
	    <a class="active headerTabs" href="events.html">Events</a>
	    <a class="headerTabs" href="about.html">About</a>
	    <a class="headerTabs" href="contact.html">Contact</a>
 	</div>
	</div>


	<h1>HOLYMAN EVENTS</h1>
	<img src="../images/holyman1.png" alt="Holyman djing">
	<div class="events">
		<div class="upcoming">
			<h2>Upcoming Events</h2>
			<a href="https://www.facebook.com/events/481955418965815/">DEC 8 - Sweet Tooth's Ugly Sweater Party, New York, New York</a>
			<a href="https://www.facebook.com/pg/msyoo.nyc/events/?ref=page_internal">JAN 4 - Ms Yoo, New York, New York</a>
			<a href="https://www.facebook.com/5StarDiveBarYbor/">FEB 1 - 5 Star Dive Bar, Tampa, Florida</a>
		
		</div>
		<div>
			<h2>Past Events</h2>
			<p class="past">AUG 3 - Output Club w/ Felix Cartal, New York, New York</p>
			<p class="past">AUG 30 - Output Club w/ Truth X Lies, New York, New York</p>
		<div> 
	</div>
	<!-- overflow contnet contained in box scroll? -->

</body>
</html>